@import "tailwindcss";

@theme {
  --font-theme: "Source Serif 4";
  --font-classical: "Spectral SC";

  --color-background: #efd795;
  --color-light: #f9e4ab;
  --color-light-light: #fff0c7;
  --color-text-dark: #4a2607;
  --color-text-light: #9c7e4e;
  --color-border: #d7be89;
  --color-white: #fffde9;
  --color-gold-light: #fbe859;
  --color-gold: #d5c339;
  --color-gold-dark: #998800;

  --inset-shadow-glossy: inset 0px -2px 0px #00000011,
    inset 0px 4px 0px #ffffff33;
}
