@import "tailwindcss";

@theme {
  --font-theme: "Source Serif 4";
  --font-classical: "Spectral SC";

  --color-background: #efd795;
  --color-light: #f9e4ab;
  --color-light-medium: #ffecb7;
  --color-light-light: #fff0c7;
  --color-text-dark: #4a2607;
  --color-text-light: #9c7e4e;
  --color-taupe: #d7be89;
  --color-white: #fffde9;
  --color-gold-light: #fbe859;
  --color-gold: #d5c339;
  --color-gold-dark: #998800;
  --color-red: #c51e1e;
  --color-red-light: #ed6161;

  --inset-shadow-glossy: inset 0px -2px 0px #00000011,
    inset 0px 4px 0px #ffffff44;
}

@utility .border-standard {
  border: 2px solid var(--color-taupe);
}

@utility .border-l-standard {
  border-left: 2px solid var(--color-taupe);
}

@utility .border-r-standard {
  border-right: 2px solid var(--color-taupe);
}

@utility .border-t-standard {
  border-top: 2px solid var(--color-taupe);
}

@utility .border-b-standard {
  border-bottom: 2px solid var(--color-taupe);
}

@utility .button-standard {
  @apply cursor-pointer font-bold bg-gold-light border-gold border-2 rounded-md inset-shadow-glossy p-1 px-4
         hover:scale-95 active:bg-gold active:scale-95 transition-all
         disabled:opacity-50 disabled:pointer-events-none;
}

@utility .button-boring {
  @apply bg-light! border-taupe! active:bg-taupe!;
}
